[Unit]
Description=Resilio docker
Wants=network-online.target

[Service]
ExecStart=/usr/bin/docker start -a <%= @container_name %>
ExecStop=/usr/bin/docker stop -t 10 <%= @container_name %>

[Install]
WantedBy=default.target
