RewriteEngine on
RewriteRule ^/resilio_docker$ /gui/ [R]
RewriteRule ^/resilio_docker/ /gui/ [R]
RewriteRule ^/gui$ /gui/ [R]

<Location /gui/>
  ProxyPass http://127.0.0.1:<%= @port %>/gui/
  ProxyPassReverse http://127.0.0.1:<%= @port %>/gui/
  Order Allow,Deny
  Allow from All
</Location>
