{
  "device_name": "Resilio Sync",
  "listening_port" : <%= @listen_port %>,                       // 0 - randomize port

/* storage_path dir contains auxilliary app files
   of no storage_path field: .sync dir created in the directory
   where binary is located.
   otherwise user-defined directory will be used
*/
  "storage_path" : "<%= @home %>",

// uncomment next line if you want to set location of pid file
  "pid_file" : "<%= @home %>/btsync.pid",


  "check_for_updates" : true,
  "use_upnp" : true,                              // use UPnP for port mapping

/* limits in kB/s
   0 - no limit
*/
  "download_limit" : 0,
  "upload_limit" : 0,

/* directory_root path defines where the WebUI Folder browser starts
   (linux only)
*/
/* remove "listen" field to disable WebUI
   remove "login" and "password" fields to disable credentials check
*/
  "directory_root" : "<%= @home %>",
  "webui" :
  {
    "listen" : "0.0.0.0:8888",
    "login" : "<%= @user %>",
    "password" : "<%= @password %>"
  }
}
