ProxyPass /deluge http://127.0.0.1:<%= @port %>/
<Location /deluge>
  ProxyPassReverse /
  ProxyPassReverseCookiePath / /deluge
  RequestHeader set X-Deluge-Base "/deluge"
  Order allow,deny
  Allow from all
</Location>
