{
    "file": 3,
    "format": 1
}{
    "hosts": [
        [
            "<%= @identifier %>",
            "127.0.0.1",
            <%= @daemon_port %>,
            "<%= @user %>",
            "<%= @password_sha %>"
        ]
    ]
}
