{
    "file": 2,
    "format": 1
}{
    "base": "/",
    "cert": "ssl/daemon.cert",
    "default_daemon": "",
    "enabled_plugins": [],
    "first_login": false,
    "https": false,
    "interface": "::",
    "language": "",
    "pkey": "ssl/daemon.pkey",
    "port": <%= @port %>,
    "pwd_salt": "<%= @salt %>",
    "pwd_sha1": "<%= @password_sha %>",
    "session_timeout": 3600,
    "sessions": {},
    "show_session_speed": true,
    "show_sidebar": true,
    "sidebar_multiple_filters": true,
    "sidebar_show_zero": false,
    "theme": "gray"
}
