<?xml version="1.0" encoding="utf-8"?>
<Preferences FSEventLibraryUpdatesEnabled="1" FSEventLibraryPartialScanEnabled="1" ManualPortMappingPort="<%= @host_port %>" PublishServerOnPlexOnlineKey="1" ManualPortMappingMode="1" customConnections="http://<%= @domain%>:<%= @host_port %>" FriendlyName="<%=@user%>@<%= @container_name %>" MetricsEpoch="0"/>
