Redirect "/filebrowser/" "/filebrowser"
<Location /filebrowser>
  ProxyPass http://127.0.0.1:<%= @port %>/filebrowser
  ProxyPassReverse http://127.0.0.1:<%= @port %>/filebrowser
  Require all granted
</Location>
