[Unit]
Description=Ombi - PMS Requests System
After=network-online.target

[Service]
WorkingDirectory=%h/apps/ombi/
ExecStart=%h/apps/ombi/Ombi --host "http://*:<%= @port %>" --storage <%= @config_path %>
Type=simple
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
