[Growl]
growl_enabled = 0
growl_on_play = 0
growl_on_buffer = 0
growl_on_pause = 0
growl_host = ""
growl_on_resume = 0
growl_password = ""
growl_on_stop = 0
growl_on_watched = 0
[PMS]
pms_use_bif = 0
pms_uuid = 294aa1630d334a799708a8c6cfec97ed
pms_url = ""
pms_logs_folder = ""
pms_token = ""
pms_port = 32400
pms_is_remote = 1
pms_identifier = ""
pms_ip = 127.0.0.1
[Monitoring]
movie_notify_enable = 0
notify_on_stop_body_text = {user} ({player}) has stopped {title}.
notify_on_resume_body_text = {user} ({player}) has resumed {title}.
notify_on_pause_body_text = {user} ({player}) has paused {title}.
buffer_wait = 900
movie_notify_on_pause = 0
music_notify_enable = 0
notify_on_watched_subject_text = PlexPy ({server_name})
notify_on_watched_body_text = {user} ({player}) has watched {title}.
music_notify_on_pause = 0
notify_on_buffer_body_text = {user} ({player}) is buffering {title}.
tv_notify_on_stop = 0
music_logging_enable = 0
notify_on_stop_subject_text = PlexPy ({server_name})
movie_notify_on_stop = 0
notify_on_start_body_text = {user} ({player}) started playing {title}.
notify_watched_percent = 85
tv_notify_enable = 0
buffer_threshold = 3
notify_consecutive = 1
refresh_users_interval = 12
monitoring_use_websocket = 0
notify_on_start_subject_text = PlexPy ({server_name})
movie_notify_on_start = 1
monitoring_interval = 60
tv_notify_on_pause = 0
refresh_users_on_startup = 1
tv_notify_on_start = 1
video_logging_enable = 1
notify_on_resume_subject_text = PlexPy ({server_name})
music_notify_on_stop = 0
logging_ignore_interval = 120
music_notify_on_start = 1
notify_on_pause_subject_text = PlexPy ({server_name})
notify_on_buffer_subject_text = PlexPy ({server_name})
[Boxcar]
boxcar_sound = ""
boxcar_on_watched = 0
boxcar_on_buffer = 0
boxcar_on_stop = 0
boxcar_on_pause = 0
boxcar_on_play = 0
boxcar_on_resume = 0
boxcar_enabled = 0
boxcar_token = ""
[PushBullet]
pushbullet_on_play = 0
pushbullet_channel_tag = ""
pushbullet_deviceid = ""
pushbullet_apikey = ""
pushbullet_on_resume = 0
pushbullet_on_buffer = 0
pushbullet_on_pause = 0
pushbullet_on_stop = 0
pushbullet_enabled = 0
pushbullet_on_watched = 0
[NMA]
nma_priority = 0
nma_on_watched = 0
nma_on_stop = 0
nma_on_play = 0
nma_on_resume = 0
nma_apikey = ""
nma_on_buffer = 0
nma_enabled = 0
nma_on_pause = 0
[Advanced]
verify_ssl_cert = 1
journal_mode = wal
cache_sizemb = 32
[Email]
email_on_pause = 0
email_smtp_password = ""
email_tls = 0
email_smtp_port = 25
email_on_watched = 0
email_smtp_server = ""
email_enabled = 0
email_on_resume = 0
email_smtp_user = ""
email_on_stop = 0
email_on_buffer = 0
email_to = ""
email_from = ""
email_on_play = 0
[PlexWatch]
grouping_user_history = 0
plexwatch_database = ""
grouping_global_history = 0
grouping_charts = 0
[OSX_Notify]
osx_notify_on_buffer = 0
osx_notify_on_stop = 0
osx_notify_enabled = 0
osx_notify_on_watched = 0
osx_notify_on_pause = 0
osx_notify_app = /Applications/PlexPy
osx_notify_on_play = 0
osx_notify_on_resume = 0
[Pushover]
pushover_enabled = 0
pushover_on_watched = 0
pushover_on_buffer = 0
pushover_on_pause = 0
pushover_on_stop = 0
pushover_apitoken = ""
pushover_on_play = 0
pushover_keys = ""
pushover_priority = 0
pushover_on_resume = 0
pushover_sound = ""
[Twitter]
twitter_on_resume = 0
twitter_enabled = 0
twitter_username = ""
twitter_on_stop = 0
twitter_on_buffer = 0
twitter_on_watched = 0
twitter_password = ""
twitter_on_pause = 0
twitter_prefix = PlexPy
twitter_on_play = 0
[Pushalot]
pushalot_enabled = 0
pushalot_on_watched = 0
pushalot_on_play = 0
pushalot_on_pause = 0
pushalot_on_stop = 0
pushalot_apikey = ""
pushalot_on_buffer = 0
pushalot_on_resume = 0
[Prowl]
prowl_on_pause = 0
prowl_enabled = 0
prowl_priority = 0
prowl_on_watched = 0
prowl_keys = ""
prowl_on_buffer = 0
prowl_on_play = 0
prowl_on_resume = 0
prowl_on_stop = 0
[General]
freeze_db = 0
http_proxy = 1
ip_logging_enable = 0
launch_browser = 1
http_username = "<%= @user %>"
do_not_override_git_branch = 0
home_stats_length = 30
http_host = 0.0.0.0
http_root = /tautulli
first_run_complete = 1
enable_https = 0
check_github = 1
api_enabled = 0
config_version = 0
check_github_interval = 360
group_history_tables = 0
http_password = "<%= @password %>"
home_stats_count = 5
cleanup_files = 0
check_github_on_startup = 1
http_port = <%= @port %>
log_dir = <%= @tautulli_config_path %>/data/logs
update_db_interval = 24
interface = default
pms_ssl = 0
git_path = ""
home_stats_cards = "watch_statistics, top_tv, popular_tv, top_movies, popular_movies, top_music, popular_music, top_users, top_platforms, last_watched"
time_format = HH:mm
cache_dir = <%= @tautulli_config_path %>/data/cache
https_cert = <%= @tautulli_config_path %>/data/server.crt
api_key = ""
date_format = YYYY-MM-DD
home_stats_type = 0
https_key = <%= @tautulli_config_path %>/data/server.key
git_user = drzoidberg33
home_library_cards = library_statistics_first
git_branch = master
[Plex]
plex_client_host = ""
plex_on_play = 0
plex_on_stop = 0
plex_on_resume = 0
plex_on_watched = 0
plex_on_buffer = 0
plex_on_pause = 0
plex_enabled = 0
plex_username = ""
plex_password = ""
[XBMC]
xbmc_on_pause = 0
xbmc_on_stop = 0
xbmc_username = ""
xbmc_on_buffer = 0
xbmc_enabled = 0
xbmc_on_watched = 0
xbmc_on_play = 0
xbmc_host = ""
xbmc_on_resume = 0
xbmc_password = ""
