<Location /tautulli>
  ProxyPass http://127.0.0.1:<%= @port %>/tautulli/
  RequestHeader set X-Forwarded-Proto "https" env=HTTPS
  ProxyPassReverse http://127.0.0.1:<%= @port %>/tautulli/
</Location>
