[General]
git_auth_type = 0
git_username = ""
git_password = ""
git_token = ""
git_reset = 0
branch = master
git_remote = origin
git_remote_url = https://github.com/pymedusa/Medusa
cur_commit_hash = d6eb72d4e1019e5d1286ae6ac1d7e4b318229ebe
cur_commit_branch = ""
config_version = 10
encryption_version = 0
encryption_secret = /CeQUWFQSTCGScMki93nCmPlsZgpRkOEtWs4myWaVe4=
log_dir = Logs
log_nr = 5
log_size = 10.0
socket_timeout = 30
web_port = <%= @port %>
web_host = 0.0.0.0
web_ipv6 = 0
web_log = 0
web_root = /medusa
web_username = <%= @user %>
web_password = <%= @password %>
web_cookie_secret =
web_use_gzip = 1
subliminal_log = 0
privacy_level = normal
ssl_verify = 1
ssl_ca_bundle = ""
download_url = ""
localhost_ip = ""
cpu_preset = NORMAL
anon_redirect = http://dereferer.org/?
api_key = 4362852422f884af99215df0d400a55d
debug = 0
dbdebug = 0
default_page = home
seeders_leechers_in_notify = 1
enable_https = 0
notify_on_login = 0
https_cert = server.crt
https_key = server.key
handle_reverse_proxy = 0
use_nzbs = 0
use_torrents = 1
nzb_method = blackhole
torrent_method = blackhole
usenet_retention = 500
cache_trimming = 0
max_cache_age = 30
autopostprocessor_frequency = 10
torrent_checker_frequency = 60
dailysearch_frequency = 40
backlog_frequency = 720
update_frequency = 1
showupdate_hour = 3
download_propers = 1
propers_search_days = 2
remove_from_client = 0
randomize_providers = 0
check_propers_interval = 4h
allow_high_priority = 1
skip_removed_files = 0
allowed_extensions = nfo, srt, sub, idx
quality_default = 3
status_default = 5
status_default_after = 3
flatten_folders_default = 0
indexer_default = 0
indexer_timeout = 20
tvdb_dvd_order_ep_ignore = 0
anime_default = 0
scene_default = 0
provider_order = ,
version_notify = 1
auto_update = 0
notify_on_update = 1
naming_strip_year = 0
naming_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_custom_abd = 0
naming_abd_pattern = %SN - %A.D - %EN
naming_custom_sports = 0
naming_sports_pattern = %SN - %A-D - %EN
naming_custom_anime = 0
naming_anime_pattern = Season %0S/%SN - S%0SE%0E - %EN
naming_multi_ep = 1
naming_anime_multi_ep = 1
naming_anime = 3
indexerDefaultLang = en
ep_default_deleted_status = 6
launch_browser = 1
trash_remove_show = 0
trash_rotate_logs = 0
sort_article = 0
proxy_setting = ""
proxy_indexers = 1
use_listview = 0
metadata_kodi = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
metadata_kodi_12plus = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
metadata_mediabrowser = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
metadata_ps3 = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
metadata_wdtv = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
metadata_tivo = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
metadata_mede8er = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
backlog_days = 7
cache_dir = cache
root_dirs = 0, <%= @download_path %>
tv_download_dir = ""
keep_processed_dir = 1
process_method = copy
del_rar_contents = 0
move_associated_files = 0
sync_files = !sync, lftp-pget-status, part, bts, !qb, !qB
postpone_if_sync_files = 1
postpone_if_no_subs = 0
nfo_rename = 1
process_automatically = 0
no_delete = 0
unpack = 0
rename_episodes = 1
airdate_episodes = 0
file_timestamp_timezone = network
create_missing_show_dirs = 0
add_shows_wo_dir = 0
extra_scripts = ,
git_path = ""
ignore_words = german, french, core2hd, dutch, swedish, reenc, MrLss, dubbed
preferred_words = ,
undesired_words = internal, xvid
trackers_list = udp://tracker.coppersurfer.tk:6969/announce, udp://tracker.leechers-paradise.org:6969/announce, udp://tracker.zer0day.to:1337/announce, ud$
require_words = ,
ignored_subs_list = dk, fin, heb, kor, nor, nordic, pl, swe
ignore_und_subs = False
calendar_unprotected = 0
calendar_icons = 0
no_restart = 0
developer = 0
display_all_seasons = 1
news_last_read = 1970-01-01
broken_providers = elitetorrent,
selected_root = -1
backlog_period = all
backlog_status = all
fallback_plex_enable = 1
fallback_plex_notifications = 1
fallback_plex_timeout = 3
[Blackhole]
nzb_dir = ""
torrent_dir = "<%= @watch_path %>"
[HORRIBLESUBS]
horriblesubs = 0
horriblesubs_name = HorribleSubs
horriblesubs_url = http://horriblesubs.info
horriblesubs_search_mode = eponly
horriblesubs_search_fallback = 0
horriblesubs_enable_daily = 1
horriblesubs_enable_backlog = 1
horriblesubs_enable_manualsearch = 1
horriblesubs_enable_search_delay = 0
horriblesubs_search_delay = 480
horriblesubs_ratio = ""
horriblesubs_cookies = ""
[SHANAPROJECT]
shanaproject = 0
shanaproject_name = ShanaProject
shanaproject_url = https://www.shanaproject.com/
shanaproject_search_mode = eponly
shanaproject_search_fallback = 0
shanaproject_enable_daily = 1
shanaproject_enable_backlog = 1
shanaproject_enable_manualsearch = 1
shanaproject_enable_search_delay = 0
shanaproject_search_delay = 480
shanaproject_ratio = ""
shanaproject_minseed = 1
shanaproject_minleech = 0
shanaproject_cookies = ""
[TORRENTZ2]
torrentz2 = 0
torrentz2_name = Torrentz2
torrentz2_url = https://torrentz2.eu/
torrentz2_search_mode = eponly
torrentz2_search_fallback = 0
torrentz2_enable_daily = 1
torrentz2_enable_backlog = 1
torrentz2_enable_manualsearch = 1
torrentz2_enable_search_delay = 0
torrentz2_search_delay = 480
torrentz2_ratio = ""
torrentz2_minseed = 1
torrentz2_minleech = 0
torrentz2_cookies = ""
[HDBITS]
hdbits = 0
hdbits_name = HDBits
hdbits_url = https://hdbits.org
hdbits_username = ""
hdbits_search_mode = eponly
hdbits_search_fallback = 0
hdbits_enable_daily = 1
hdbits_enable_backlog = 1
hdbits_enable_manualsearch = 1
hdbits_enable_search_delay = 0
hdbits_search_delay = 480
hdbits_passkey = ""
hdbits_ratio = ""
hdbits_minseed = 1
hdbits_minleech = 0
hdbits_cookies = ""
[RARBG]
rarbg = 0
rarbg_name = Rarbg
rarbg_url = https://rarbg.com
rarbg_search_mode = eponly
rarbg_search_fallback = 0
rarbg_enable_daily = 1
rarbg_enable_backlog = 1
rarbg_enable_manualsearch = 1
rarbg_enable_search_delay = 0
rarbg_search_delay = 480
rarbg_ranked = 1
rarbg_sorting = seeders
rarbg_ratio = ""
rarbg_minseed = 1
rarbg_minleech = 0
rarbg_cookies = ""
[ABNORMAL]
abnormal = 0
abnormal_name = ABNormal
abnormal_url = https://abnormal.ws
abnormal_username = ""
abnormal_search_mode = eponly
abnormal_search_fallback = 0
abnormal_enable_daily = 1
abnormal_enable_backlog = 1
abnormal_enable_manualsearch = 1
abnormal_enable_search_delay = 0
abnormal_search_delay = 480
abnormal_password = ""
abnormal_ratio = ""
abnormal_minseed = 1
abnormal_minleech = 0
abnormal_cookies = ""
[NZBS_ORG]
nzbs_org = 0
nzbs_org_name = NZBs.org
nzbs_org_url = https://nzbs.org/
nzbs_org_api_key = ""
nzbs_org_search_mode = eponly
nzbs_org_search_fallback = 0
nzbs_org_enable_daily = 1
nzbs_org_enable_backlog = 1
nzbs_org_enable_manualsearch = 1
nzbs_org_enable_search_delay = 0
nzbs_org_search_delay = 480
nzbs_org_cat_ids = ,
[ALPHARATIO]
alpharatio = 0
alpharatio_name = AlphaRatio
alpharatio_url = https://alpharatio.cc
alpharatio_username = ""
alpharatio_search_mode = eponly
alpharatio_search_fallback = 0
alpharatio_enable_daily = 1
alpharatio_enable_backlog = 1
alpharatio_enable_manualsearch = 1
alpharatio_enable_search_delay = 0
alpharatio_search_delay = 480
alpharatio_password = ""
alpharatio_ratio = ""
alpharatio_minseed = 1
alpharatio_minleech = 0
alpharatio_cookies = ""
[SCENETIME]
scenetime = 0
scenetime_name = SceneTime
scenetime_url = https://www.scenetime.com
scenetime_search_mode = eponly
scenetime_search_fallback = 0
scenetime_enable_daily = 1
scenetime_enable_backlog = 1
scenetime_enable_manualsearch = 1
scenetime_enable_search_delay = 0
scenetime_search_delay = 480
scenetime_ratio = ""
scenetime_minseed = 1
scenetime_minleech = 0
scenetime_cookies = ""
[ANIMEBYTES]
animebytes = 0
animebytes_name = AnimeBytes
animebytes_url = https://animebytes.tv
animebytes_username = ""
animebytes_search_mode = eponly
animebytes_search_fallback = 0
animebytes_enable_daily = 1
animebytes_enable_backlog = 1
animebytes_enable_manualsearch = 1
animebytes_enable_search_delay = 0
animebytes_search_delay = 480
animebytes_password = ""
animebytes_ratio = ""
animebytes_minseed = 1
animebytes_minleech = 0
animebytes_cookies = ""
[BTN]
btn = 0
btn_name = BTN
btn_url = https://broadcasthe.net
btn_api_key = ""
btn_search_mode = eponly
btn_search_fallback = 0
btn_enable_daily = 1
btn_enable_backlog = 1
btn_enable_manualsearch = 1
btn_enable_search_delay = 0
btn_search_delay = 480
btn_ratio = ""
btn_minseed = 1
btn_minleech = 0
btn_cookies = ""
[SDBITS]
sdbits = 0
sdbits_name = SDBits
sdbits_url = http://sdbits.org
sdbits_username = ""
sdbits_search_mode = eponly
sdbits_search_fallback = 0
sdbits_enable_daily = 1
sdbits_enable_backlog = 1
sdbits_enable_manualsearch = 1
sdbits_enable_search_delay = 0
sdbits_search_delay = 480
sdbits_password = ""
sdbits_ratio = ""
sdbits_minseed = 1
sdbits_minleech = 0
sdbits_cookies = ""
[HDSPACE]
hdspace = 0
hdspace_name = HDSpace
hdspace_url = https://hd-space.org
hdspace_username = ""
hdspace_search_mode = eponly
hdspace_search_fallback = 0
hdspace_enable_daily = 1
hdspace_enable_backlog = 1
hdspace_enable_manualsearch = 1
hdspace_enable_search_delay = 0
hdspace_search_delay = 480
hdspace_password = ""
hdspace_ratio = ""
hdspace_minseed = 1
hdspace_minleech = 0
hdspace_cookies = ""
[TORRENTBYTES]
torrentbytes = 0
torrentbytes_name = TorrentBytes
torrentbytes_url = https://www.torrentbytes.net
torrentbytes_username = ""
torrentbytes_search_mode = eponly
torrentbytes_search_fallback = 0
torrentbytes_enable_daily = 1
torrentbytes_enable_backlog = 1
torrentbytes_enable_manualsearch = 1
torrentbytes_enable_search_delay = 0
torrentbytes_search_delay = 480
torrentbytes_password = ""
torrentbytes_ratio = ""
torrentbytes_minseed = 1
torrentbytes_minleech = 0
torrentbytes_freeleech = 0
torrentbytes_cookies = ""
[TORRENTING]
torrenting = 0
torrenting_name = Torrenting
torrenting_url = https://www.torrenting.com/
torrenting_search_mode = eponly
torrenting_search_fallback = 0
torrenting_enable_daily = 1
torrenting_enable_backlog = 1
torrenting_enable_manualsearch = 1
torrenting_enable_search_delay = 0
torrenting_search_delay = 480
torrenting_ratio = ""
torrenting_minseed = 1
torrenting_minleech = 0
torrenting_cookies = ""
[ANIMETORRENTS]
animetorrents = 0
animetorrents_name = AnimeTorrents
animetorrents_url = http://animetorrents.me
animetorrents_username = ""
animetorrents_search_mode = eponly
animetorrents_search_fallback = 0
animetorrents_enable_daily = 1
animetorrents_enable_backlog = 1
animetorrents_enable_manualsearch = 1
animetorrents_enable_search_delay = 0
animetorrents_search_delay = 480
animetorrents_password = ""
animetorrents_ratio = ""
animetorrents_minseed = 1
animetorrents_minleech = 0
animetorrents_cookies = ""
[ELITETORRENT]
elitetorrent = 0
elitetorrent_name = EliteTorrent
elitetorrent_url = https://elitetorrent.eu
elitetorrent_search_mode = eponly
elitetorrent_search_fallback = 0
elitetorrent_enable_daily = 1
elitetorrent_enable_backlog = 1
elitetorrent_enable_manualsearch = 1
elitetorrent_enable_search_delay = 0
elitetorrent_search_delay = 480
elitetorrent_onlyspasearch = 0
elitetorrent_ratio = ""
elitetorrent_minseed = 1
elitetorrent_minleech = 0
elitetorrent_cookies = ""
[SPEEDCD]
speedcd = 0
speedcd_name = Speedcd
speedcd_url = https://speed.cd
speedcd_username = ""
speedcd_search_mode = eponly
speedcd_search_fallback = 0
speedcd_enable_daily = 1
speedcd_enable_backlog = 1
speedcd_enable_manualsearch = 1
speedcd_enable_search_delay = 0
speedcd_search_delay = 480
speedcd_password = ""
speedcd_ratio = ""
speedcd_minseed = 1
speedcd_minleech = 0
speedcd_freeleech = 0
speedcd_cookies = ""
[TNTVILLAGE]
tntvillage = 0
tntvillage_name = TNTVillage
tntvillage_url = http://forum.tntvillage.scambioetico.org/
tntvillage_username = ""
tntvillage_search_mode = eponly
tntvillage_search_fallback = 0
tntvillage_enable_daily = 1
tntvillage_enable_backlog = 1
tntvillage_enable_manualsearch = 1
tntvillage_enable_search_delay = 0
tntvillage_search_delay = 480
tntvillage_password = ""
tntvillage_engrelease = 0
tntvillage_ratio = ""
tntvillage_minseed = 1
tntvillage_minleech = 0
tntvillage_subtitle = 0
tntvillage_cookies = ""
[XTHOR]
xthor = 0
xthor_name = Xthor
xthor_url = https://xthor.to
xthor_search_mode = eponly
xthor_search_fallback = 0
xthor_enable_daily = 1
xthor_enable_backlog = 1
xthor_enable_manualsearch = 1
xthor_enable_search_delay = 0
xthor_search_delay = 480
xthor_passkey = ""
xthor_confirmed = 1
xthor_ratio = ""
xthor_minseed = 1
xthor_minleech = 0
xthor_freeleech = 0
xthor_cookies = ""
[SHAZBAT_TV]
shazbat_tv = 0
shazbat_tv_name = Shazbat.tv
shazbat_tv_url = http://www.shazbat.tv
shazbat_tv_search_mode = eponly
shazbat_tv_search_fallback = 0
shazbat_tv_enable_daily = 1
shazbat_tv_enable_backlog = 0
shazbat_tv_enable_manualsearch = 1
shazbat_tv_enable_search_delay = 0
shazbat_tv_search_delay = 480
shazbat_tv_passkey = ""
shazbat_tv_ratio = ""
shazbat_tv_options = ""
shazbat_tv_cookies = ""
[BITHDTV]
bithdtv = 0
bithdtv_name = BITHDTV
bithdtv_url = https://www.bit-hdtv.com/
bithdtv_search_mode = eponly
bithdtv_search_fallback = 0
bithdtv_enable_daily = 1
bithdtv_enable_backlog = 1
bithdtv_enable_manualsearch = 1
bithdtv_enable_search_delay = 0
bithdtv_search_delay = 480
bithdtv_ratio = ""
bithdtv_minseed = 1
bithdtv_minleech = 0
bithdtv_freeleech = 0
bithdtv_cookies = ""
[PRIVATEHD]
privatehd = 0
privatehd_name = PrivateHD
privatehd_url = https://privatehd.to
privatehd_username = ""
privatehd_search_mode = eponly
privatehd_search_fallback = 0
privatehd_enable_daily = 1
privatehd_enable_backlog = 1
privatehd_enable_manualsearch = 1
privatehd_enable_search_delay = 0
privatehd_search_delay = 480
privatehd_password = ""
privatehd_ratio = ""
privatehd_cookies = ""
[YGGTORRENT]
yggtorrent = 0
yggtorrent_name = Yggtorrent
yggtorrent_url = https://yggtorrent.com
yggtorrent_username = ""
yggtorrent_search_mode = eponly
yggtorrent_search_fallback = 0
yggtorrent_enable_daily = 1
yggtorrent_enable_backlog = 1
yggtorrent_enable_manualsearch = 1
yggtorrent_enable_search_delay = 0
yggtorrent_search_delay = 480
yggtorrent_password = ""
yggtorrent_ratio = ""
yggtorrent_minseed = 1
yggtorrent_minleech = 0
yggtorrent_cookies = ""
[MORETHANTV]
morethantv = 0
morethantv_name = MoreThanTV
morethantv_url = https://www.morethan.tv/
morethantv_username = ""
morethantv_search_mode = eponly
morethantv_search_fallback = 0
morethantv_enable_daily = 1
morethantv_enable_backlog = 1
morethantv_enable_manualsearch = 1
morethantv_enable_search_delay = 0
morethantv_search_delay = 480
morethantv_password = ""
morethantv_ratio = ""
morethantv_minseed = 1
morethantv_minleech = 0
morethantv_cookies = ""
[TVCHAOSUK]
tvchaosuk = 0
tvchaosuk_name = TvChaosUK
tvchaosuk_url = https://www.tvchaosuk.com
tvchaosuk_username = ""
tvchaosuk_search_mode = eponly
tvchaosuk_search_fallback = 0
tvchaosuk_enable_daily = 1
tvchaosuk_enable_backlog = 1
tvchaosuk_enable_manualsearch = 1
tvchaosuk_enable_search_delay = 0
tvchaosuk_search_delay = 480
tvchaosuk_password = ""
tvchaosuk_ratio = ""
tvchaosuk_minseed = 1
tvchaosuk_minleech = 0
tvchaosuk_freeleech = 0
tvchaosuk_cookies = ""
[BINSEARCH]
binsearch = 0
binsearch_name = BinSearch
binsearch_url = https://www.binsearch.info
binsearch_search_mode = eponly
binsearch_search_fallback = 0
binsearch_enable_daily = 1
binsearch_enable_backlog = 1
binsearch_enable_manualsearch = 1
binsearch_enable_search_delay = 0
binsearch_search_delay = 480
[OMGWTFNZBS]
omgwtfnzbs = 0
omgwtfnzbs_name = Omgwtfnzbs
omgwtfnzbs_url = https://api.omgwtfnzbs.me/
omgwtfnzbs_api_key = ""
omgwtfnzbs_search_mode = eponly
omgwtfnzbs_search_fallback = 0
omgwtfnzbs_enable_daily = 1
omgwtfnzbs_enable_backlog = 1
omgwtfnzbs_enable_manualsearch = 1
omgwtfnzbs_enable_search_delay = 0
omgwtfnzbs_search_delay = 480
omgwtfnzbs_cat_ids = ,
[IPTORRENTS]
iptorrents = 0
iptorrents_name = IPTorrents
iptorrents_url = https://iptorrents.eu
iptorrents_search_mode = eponly
iptorrents_search_fallback = 0
iptorrents_enable_daily = 1
iptorrents_enable_backlog = 1
iptorrents_enable_manualsearch = 1
iptorrents_enable_search_delay = 0
iptorrents_search_delay = 480
iptorrents_ratio = ""
iptorrents_minseed = 1
iptorrents_minleech = 0
iptorrents_freeleech = 0
iptorrents_cookies = ""
[DANISHBITS]
danishbits = 0
danishbits_name = Danishbits
danishbits_url = https://danishbits.org
danishbits_username = ""
danishbits_search_mode = eponly
danishbits_search_fallback = 0
danishbits_enable_daily = 1
danishbits_enable_backlog = 1
danishbits_enable_manualsearch = 1
danishbits_enable_search_delay = 0
danishbits_search_delay = 480
danishbits_passkey = ""
danishbits_ratio = ""
danishbits_minseed = 1
danishbits_minleech = 0
danishbits_freeleech = 0
danishbits_cookies = ""
[ANIZB]
anizb = 0
anizb_name = Anizb
anizb_url = https://anizb.org/
anizb_search_mode = eponly
anizb_search_fallback = 0
anizb_enable_daily = 1
anizb_enable_backlog = 1
anizb_enable_manualsearch = 1
anizb_enable_search_delay = 0
anizb_search_delay = 480
[NYAA]
nyaa = 0
nyaa_name = Nyaa
nyaa_url = https://nyaa.si
nyaa_search_mode = eponly
nyaa_search_fallback = 0
nyaa_enable_daily = 1
nyaa_enable_backlog = 1
nyaa_enable_manualsearch = 1
nyaa_enable_search_delay = 0
nyaa_search_delay = 480
nyaa_confirmed = 1
nyaa_ratio = ""
nyaa_minseed = 1
nyaa_minleech = 0
nyaa_cookies = ""
[TORRENTDAY]
torrentday = 0
torrentday_name = TorrentDay
torrentday_url = https://www.torrentday.com
torrentday_search_mode = eponly
torrentday_search_fallback = 0
torrentday_enable_daily = 1
torrentday_enable_backlog = 1
torrentday_enable_manualsearch = 1
torrentday_enable_search_delay = 0
torrentday_search_delay = 480
torrentday_ratio = ""
torrentday_minseed = 1
torrentday_minleech = 0
torrentday_freeleech = 0
torrentday_cookies = ""
[PRETOME]
pretome = 0
pretome_name = Pretome
pretome_url = https://pretome.info
pretome_username = ""
pretome_search_mode = eponly
pretome_search_fallback = 0
pretome_enable_daily = 1
pretome_enable_backlog = 1
pretome_enable_manualsearch = 1
pretome_enable_search_delay = 0
pretome_search_delay = 480
pretome_password = ""
pretome_pin = ""
pretome_ratio = ""
pretome_minseed = 1
pretome_minleech = 0
pretome_cookies = ""
[ELITETRACKER]
elitetracker = 0
elitetracker_name = EliteTracker
elitetracker_url = https://elite-tracker.net
elitetracker_username = ""
elitetracker_search_mode = eponly
elitetracker_search_fallback = 0
elitetracker_enable_daily = 1
elitetracker_enable_backlog = 1
elitetracker_enable_manualsearch = 1
elitetracker_enable_search_delay = 0
elitetracker_search_delay = 480
elitetracker_password = ""
elitetracker_ratio = ""
elitetracker_minseed = 1
elitetracker_minleech = 0
elitetracker_freeleech = 0
elitetracker_cookies = ""
[USENET_CRAWLER]
usenet_crawler = 0
usenet_crawler_name = Usenet-Crawler
usenet_crawler_url = https://api.usenet-crawler.com/
usenet_crawler_api_key = ""
usenet_crawler_search_mode = eponly
usenet_crawler_search_fallback = 0
usenet_crawler_enable_daily = 1
usenet_crawler_enable_backlog = 1
usenet_crawler_enable_manualsearch = 1
usenet_crawler_enable_search_delay = 0
usenet_crawler_search_delay = 480
usenet_crawler_cat_ids = ,
[NZBGEEK]
nzbgeek = 0
nzbgeek_name = NZBGeek
nzbgeek_url = https://api.nzbgeek.info/
nzbgeek_api_key = ""
nzbgeek_search_mode = eponly
nzbgeek_search_fallback = 0
nzbgeek_enable_daily = 1
nzbgeek_enable_backlog = 1
nzbgeek_enable_manualsearch = 1
nzbgeek_enable_search_delay = 0
nzbgeek_search_delay = 480
nzbgeek_cat_ids = ,
[NEWPCT]
newpct = 0
newpct_name = Newpct
newpct_url = http://www.tvsinpagar.com
newpct_search_mode = eponly
newpct_search_fallback = 0
newpct_enable_daily = 1
newpct_enable_backlog = 1
newpct_enable_manualsearch = 1
newpct_enable_search_delay = 0
newpct_search_delay = 480
newpct_onlyspasearch = 0
newpct_ratio = ""
newpct_cookies = ""
[TOKYOTOSHOKAN]
tokyotoshokan = 0
tokyotoshokan_name = TokyoToshokan
tokyotoshokan_url = http://tokyotosho.info/
tokyotoshokan_search_mode = eponly
tokyotoshokan_search_fallback = 0
tokyotoshokan_enable_daily = 1
tokyotoshokan_enable_backlog = 1
tokyotoshokan_enable_manualsearch = 1
tokyotoshokan_enable_search_delay = 0
tokyotoshokan_search_delay = 480
tokyotoshokan_ratio = ""
tokyotoshokan_minseed = 1
tokyotoshokan_minleech = 0
tokyotoshokan_cookies = ""
[HDTORRENTS]
hdtorrents = 0
hdtorrents_name = HDTorrents
hdtorrents_url = https://hd-torrents.org/
hdtorrents_username = ""
hdtorrents_search_mode = eponly
hdtorrents_search_fallback = 0
hdtorrents_enable_daily = 1
hdtorrents_enable_backlog = 1
hdtorrents_enable_manualsearch = 1
hdtorrents_enable_search_delay = 0
hdtorrents_search_delay = 480
hdtorrents_password = ""
hdtorrents_ratio = ""
hdtorrents_minseed = 1
hdtorrents_minleech = 0
hdtorrents_freeleech = 0
hdtorrents_cookies = ""
[THEPIRATEBAY]
thepiratebay = 0
thepiratebay_name = ThePirateBay
thepiratebay_url = https://thepiratebay.org
thepiratebay_search_mode = eponly
thepiratebay_search_fallback = 0
thepiratebay_enable_daily = 1
thepiratebay_enable_backlog = 1
thepiratebay_enable_manualsearch = 1
thepiratebay_enable_search_delay = 0
thepiratebay_search_delay = 480
thepiratebay_custom_url = ""
thepiratebay_confirmed = 1
thepiratebay_ratio = ""
thepiratebay_minseed = 1
thepiratebay_minleech = 0
thepiratebay_cookies = ""
[TORRENT9]
torrent9 = 0
torrent9_name = Torrent9
torrent9_url = http://www.torrent9.red
torrent9_search_mode = eponly
torrent9_search_fallback = 0
torrent9_enable_daily = 1
torrent9_enable_backlog = 1
torrent9_enable_manualsearch = 1
torrent9_enable_search_delay = 0
torrent9_search_delay = 480
torrent9_ratio = ""
torrent9_minseed = 1
torrent9_minleech = 0
torrent9_cookies = ""
[BITCANNON]
bitcannon = 0
bitcannon_name = BitCannon
bitcannon_url = ""
bitcannon_api_key = ""
bitcannon_search_mode = eponly
bitcannon_search_fallback = 0
bitcannon_enable_daily = 1
bitcannon_enable_backlog = 1
bitcannon_enable_manualsearch = 1
bitcannon_enable_search_delay = 0
bitcannon_search_delay = 480
bitcannon_custom_url = ""
bitcannon_ratio = ""
bitcannon_minseed = 1
bitcannon_minleech = 0
bitcannon_cookies = ""
[NEBULANCE]
nebulance = 0
nebulance_name = Nebulance
nebulance_url = https://nebulance.io/
nebulance_username = ""
nebulance_search_mode = eponly
nebulance_search_fallback = 0
nebulance_enable_daily = 1
nebulance_enable_backlog = 1
nebulance_enable_manualsearch = 1
nebulance_enable_search_delay = 0
nebulance_search_delay = 480
nebulance_password = ""
nebulance_ratio = ""
nebulance_minseed = 1
nebulance_minleech = 0
nebulance_freeleech = 0
nebulance_cookies = ""
[DOGNZB]
dognzb = 0
dognzb_name = DOGnzb
dognzb_url = https://api.dognzb.cr/
dognzb_api_key = ""
dognzb_search_mode = eponly
dognzb_search_fallback = 0
dognzb_enable_daily = 1
dognzb_enable_backlog = 1
dognzb_enable_manualsearch = 1
dognzb_enable_search_delay = 0
dognzb_search_delay = 480
dognzb_cat_ids = ,
[NZB_CAT]
nzb_cat = 0
nzb_cat_name = NZB.Cat
nzb_cat_url = https://nzb.cat/
nzb_cat_api_key = ""
nzb_cat_search_mode = eponly
nzb_cat_search_fallback = 0
nzb_cat_enable_daily = 1
nzb_cat_enable_backlog = 1
nzb_cat_enable_manualsearch = 1
nzb_cat_enable_search_delay = 0
nzb_cat_search_delay = 480
nzb_cat_cat_ids = ,
[HD4FREE]
hd4free = 0
hd4free_name = HD4Free
hd4free_url = https://hd4free.xyz
hd4free_api_key = ""
hd4free_username = ""
hd4free_search_mode = eponly
hd4free_search_fallback = 0
hd4free_enable_daily = 1
hd4free_enable_backlog = 1
hd4free_enable_manualsearch = 1
hd4free_enable_search_delay = 0
hd4free_search_delay = 480
hd4free_ratio = ""
hd4free_minseed = 1
hd4free_minleech = 0
hd4free_freeleech = 0
hd4free_cookies = ""
[TORRENTLEECH]
torrentleech = 0
torrentleech_name = TorrentLeech
torrentleech_url = https://classic.torrentleech.org
torrentleech_username = ""
torrentleech_search_mode = eponly
torrentleech_search_fallback = 0
torrentleech_enable_daily = 1
torrentleech_enable_backlog = 1
torrentleech_enable_manualsearch = 1
torrentleech_enable_search_delay = 0
torrentleech_search_delay = 480
torrentleech_password = ""
torrentleech_ratio = ""
torrentleech_minseed = 1
torrentleech_minleech = 0
torrentleech_cookies = ""
[ANIDEX]
anidex = 0
anidex_name = AniDex
anidex_url = https://anidex.info
anidex_search_mode = eponly
anidex_search_fallback = 0
anidex_enable_daily = 1
anidex_enable_backlog = 1
anidex_enable_manualsearch = 1
anidex_enable_search_delay = 0
anidex_search_delay = 480
anidex_ratio = ""
anidex_minseed = 1
anidex_minleech = 0
anidex_cookies = ""
[LIMETORRENTS]
limetorrents = 0
limetorrents_name = LimeTorrents
limetorrents_url = https://www.limetorrents.cc
limetorrents_search_mode = eponly
limetorrents_search_fallback = 0
limetorrents_enable_daily = 1
limetorrents_enable_backlog = 1
limetorrents_enable_manualsearch = 1
limetorrents_enable_search_delay = 0
limetorrents_search_delay = 480
limetorrents_confirmed = 1
limetorrents_ratio = ""
limetorrents_minseed = 1
limetorrents_minleech = 0
limetorrents_cookies = ""
[NORBITS]
norbits = 0
norbits_name = Norbits
norbits_url = https://norbits.net
norbits_username = ""
norbits_search_mode = eponly
norbits_search_fallback = 0
norbits_enable_daily = 1
norbits_enable_backlog = 1
norbits_enable_manualsearch = 1
norbits_enable_search_delay = 0
norbits_search_delay = 480
norbits_passkey = ""
norbits_ratio = ""
norbits_minseed = 1
norbits_minleech = 0
norbits_cookies = ""
[HEBITS]
hebits = 0
hebits_name = HeBits
hebits_url = https://hebits.net
hebits_username = ""
hebits_search_mode = eponly
hebits_search_fallback = 0
hebits_enable_daily = 1
hebits_enable_backlog = 1
hebits_enable_manualsearch = 1
hebits_enable_search_delay = 0
hebits_search_delay = 480
hebits_password = ""
hebits_ratio = ""
hebits_minseed = 1
hebits_minleech = 0
hebits_freeleech = 0
hebits_cookies = ""
[GFTRACKER]
gftracker = 0
gftracker_name = GFTracker
gftracker_url = https://www.thegft.org
gftracker_username = ""
gftracker_search_mode = eponly
gftracker_search_fallback = 0
gftracker_enable_daily = 1
gftracker_enable_backlog = 1
gftracker_enable_manualsearch = 1
gftracker_enable_search_delay = 0
gftracker_search_delay = 480
gftracker_password = ""
gftracker_ratio = ""
gftracker_minseed = 1
gftracker_minleech = 0
gftracker_cookies = ""
[ZOOQLE]
zooqle = 0
zooqle_name = Zooqle
zooqle_url = https://zooqle.com
zooqle_search_mode = eponly
zooqle_search_fallback = 0
zooqle_enable_daily = 1
zooqle_enable_backlog = 1
zooqle_enable_manualsearch = 1
zooqle_enable_search_delay = 0
zooqle_search_delay = 480
zooqle_ratio = ""
zooqle_minseed = 1
zooqle_minleech = 0
zooqle_cookies = ""
[ARCHETORRENT]
archetorrent = 0
archetorrent_name = ArcheTorrent
archetorrent_url = https://www.archetorrent.com/
archetorrent_username = ""
archetorrent_search_mode = eponly
archetorrent_search_fallback = 0
archetorrent_enable_daily = 1
archetorrent_enable_backlog = 1
archetorrent_enable_manualsearch = 1
archetorrent_enable_search_delay = 0
archetorrent_search_delay = 480
archetorrent_password = ""
archetorrent_ratio = ""
archetorrent_minseed = 1
archetorrent_minleech = 0
archetorrent_freeleech = 0
archetorrent_cookies = ""
[NZBs]
nzbs = 0
nzbs_uid = ""
nzbs_hash = ""
[Newzbin]
newzbin = 0
newzbin_username = ""
newzbin_password = ""
[SABnzbd]
sab_username = ""
sab_password = ""
sab_apikey = ""
sab_category = tv
sab_category_backlog = tv
sab_category_anime = anime
sab_category_anime_backlog = anime
sab_host = ""
sab_forced = 0
[NZBget]
nzbget_username = nzbget
nzbget_password = tegbzn6789
nzbget_category = tv
nzbget_category_backlog = tv
nzbget_category_anime = anime
nzbget_category_anime_backlog = anime
nzbget_host = ""
nzbget_use_https = 0
nzbget_priority = 100
[TORRENT]
torrent_username = ""
torrent_password = ""
torrent_host = ""
torrent_path = ""
torrent_seed_time = 0
torrent_paused = 0
torrent_high_bandwidth = 0
torrent_label = ""
torrent_label_anime = ""
torrent_verify_cert = 0
torrent_rpcurl = transmission
torrent_auth_type = ""
torrent_seed_location = ""
[KODI]
use_kodi = 0
kodi_always_on = 1
kodi_notify_onsnatch = 0
kodi_notify_ondownload = 0
kodi_notify_onsubtitledownload = 0
kodi_update_library = 0
kodi_update_full = 0
kodi_update_onlyfirst = 0
kodi_host = ,
kodi_username = ""
kodi_password = ""
kodi_clean_library = 0
[Plex]
use_plex_server = 0
plex_notify_onsnatch = 0
plex_notify_ondownload = 0
plex_notify_onsubtitledownload = 0
plex_update_library = 0
plex_server_host = ,
plex_server_token = ""
plex_client_host = ,
plex_server_username = ""
plex_server_password = ""
use_plex_client = 0
plex_client_username = ""
plex_client_password = ""
plex_server_https = 0
[Emby]
use_emby = 0
emby_host = ""
emby_apikey = ""
[Growl]
use_growl = 0
growl_notify_onsnatch = 0
growl_notify_ondownload = 0
growl_notify_onsubtitledownload = 0
growl_host = ""
growl_password = ""
[FreeMobile]
use_freemobile = 0
freemobile_notify_onsnatch = 0
freemobile_notify_ondownload = 0
freemobile_notify_onsubtitledownload = 0
freemobile_id = ""
freemobile_apikey = ""
[Telegram]
use_telegram = 0
telegram_notify_onsnatch = 0
telegram_notify_ondownload = 0
telegram_notify_onsubtitledownload = 0
telegram_id = ""
telegram_apikey = ""
[Prowl]
use_prowl = 0
prowl_notify_onsnatch = 0
prowl_notify_ondownload = 0
prowl_notify_onsubtitledownload = 0
prowl_api = ,
prowl_priority = 0
prowl_message_title = Medusa
[Twitter]
use_twitter = 0
twitter_notify_onsnatch = 0
twitter_notify_ondownload = 0
twitter_notify_onsubtitledownload = 0
twitter_username = ""
twitter_password = ""
twitter_prefix = Medusa
twitter_dmto = ""
twitter_usedm = 0
[Boxcar2]
use_boxcar2 = 0
boxcar2_notify_onsnatch = 0
boxcar2_notify_ondownload = 0
boxcar2_notify_onsubtitledownload = 0
boxcar2_accesstoken = ""
[Pushover]
use_pushover = 0
pushover_notify_onsnatch = 0
pushover_notify_ondownload = 0
pushover_notify_onsubtitledownload = 0
pushover_userkey = ""
pushover_apikey = ""
pushover_device = ,
pushover_sound = pushover
[Libnotify]
use_libnotify = 0
libnotify_notify_onsnatch = 0
libnotify_notify_ondownload = 0
libnotify_notify_onsubtitledownload = 0
[NMJ]
use_nmj = 0
nmj_host = ""
nmj_database = ""
nmj_mount = ""
[NMJv2]
use_nmjv2 = 0
nmjv2_host = ""
nmjv2_database = ""
nmjv2_dbloc = ""
[Synology]
use_synoindex = 0
[SynologyNotifier]
use_synologynotifier = 0
synologynotifier_notify_onsnatch = 0
synologynotifier_notify_ondownload = 0
synologynotifier_notify_onsubtitledownload = 0
[Slack]
use_slack = 0
slack_notify_snatch = 0
slack_notify_download = 0
slack_notify_onsubtitledownload = 0
slack_webhook = ""
[Trakt]
use_trakt = 0
trakt_username = ""
trakt_access_token = ""
trakt_refresh_token = ""
trakt_remove_watchlist = 0
trakt_remove_serieslist = 0
trakt_remove_show_from_application = 0
trakt_sync_watchlist = 0
trakt_method_add = 0
trakt_start_paused = 0
trakt_use_recommended = 0
trakt_sync = 0
trakt_sync_remove = 0
trakt_default_indexer = 1
trakt_timeout = 30
trakt_blacklist_name = ""
[pyTivo]
use_pytivo = 0
pytivo_notify_onsnatch = 0
pytivo_notify_ondownload = 0
pytivo_notify_onsubtitledownload = 0
pyTivo_update_library = 0
pytivo_host = ""
pytivo_share_name = ""
pytivo_tivo_name = ""
[NMA]
use_nma = 0
nma_notify_onsnatch = 0
nma_notify_ondownload = 0
nma_notify_onsubtitledownload = 0
nma_api = ,
nma_priority = 0
[Pushalot]
use_pushalot = 0
pushalot_notify_onsnatch = 0
pushalot_notify_ondownload = 0
pushalot_notify_onsubtitledownload = 0
pushalot_authorizationtoken = ""
[Pushbullet]
use_pushbullet = 0
pushbullet_notify_onsnatch = 0
pushbullet_notify_ondownload = 0
pushbullet_notify_onsubtitledownload = 0
pushbullet_api = ""
pushbullet_device = ""
[Email]
use_email = 0
email_notify_onsnatch = 0
email_notify_ondownload = 0
email_notify_onsubtitledownload = 0
email_host = ""
email_port = 25
email_tls = 0
email_user = ""
email_password = ""
email_from = ""
email_list = ,
email_subject = ""
[Newznab]
newznab_providers = ,
[TorrentRss]
torrentrss_providers = ,
[GUI]
theme_name = dark
fanart_background = True
fanart_background_opacity = 0.4
home_layout = poster
history_layout = detailed
history_limit = 100
display_show_specials = 1
coming_eps_layout = banner
coming_eps_display_paused = 0
coming_eps_sort = date
coming_eps_missed_range = 7
fuzzy_dating = 0
trim_zero = 0
date_preset = %x
time_preset = %I:%M:%S %p
timezone_display = local
poster_sortby = name
poster_sortdir = 1
layout_wide = False
show_list_order = Anime, Series
[Subtitles]
use_subtitles = 0
subtitles_erase_cache = 0
subtitles_languages = ,
SUBTITLES_SERVICES_LIST = ,
SUBTITLES_SERVICES_ENABLED = ,
subtitles_dir = ""
subtitles_default = 0
subtitles_history = 0
subtitles_perfect_match = 1
embedded_subtitles_all = 0
subtitles_stop_at_first = 0
embedded_subtitles_unknown_lang = 0
subtitles_hearing_impaired = 0
subtitles_finder_frequency = 1
subtitles_multi = 1
subtitles_extra_scripts = ,
subtitles_pre_scripts = ,
subtitles_keep_only_wanted = 0
addic7ed_username = ""
addic7ed_password = ""
itasa_username = ""
itasa_password = ""
legendastv_username = ""
legendastv_password = ""
opensubtitles_username = ""
opensubtitles_password = ""
[FailedDownloads]
use_failed_downloads = 0
delete_failed = 0
[ANIDB]
use_anidb = 0
anidb_username = ""
anidb_password = ""
anidb_use_mylist = 0
[ANIME]
anime_split_home = 0
anime_split_home_in_tabs = 0
